In [7]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, json

In [2]:
basics = pd.read_csv("Data/title-basics.csv")
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [3]:
akas = pd.read_csv("Data/title-akas-us-only.csv")
akas.head()

/var/folders/8t/tynklgjn6gv85smzddzdzfbw0000gn/T/ipykernel_30448/1552190150.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv("Data/title-akas-us-only.csv")

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [4]:
ratings = pd.read_csv("Data/title-ratings.csv")
ratings.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     87153
1  tt0062336            6.4       175
2  tt0069049            6.7      7754
3  tt0088751            5.2       336
4  tt0096056            5.6       846

## Cleaning Genre Info

In [5]:
# separate hereo/publisher on the |
basics['genres'].str.split('|', expand = True)

                               0
0         Comedy,Fantasy,Romance
1                          Drama
2                          Drama
3           Comedy,Horror,Sci-Fi
4                          Drama
...                          ...
86974                      Drama
86975       Comedy,Drama,Fantasy
86976                      Drama
86977  Action,Adventure,Thriller
86978              Drama,History

[86979 rows x 1 columns]

In [8]:
# Add split columns to genres df with appropriate names
basics[['genre_id', 'genre_name']] = basics['genres'].str.split('|', expand = True)
basics.head(2)

ValueError: Columns must be same length as key

In [10]:
df = pd.read_csv('/Users/troniceray/Downloads/movies.ndm2')
df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [12]:
# drop the original column
basics = basics.drop(columns=['genres'])
basics.head(2)

KeyError: "['genres'] not found in axis"

In [13]:
## create a col with a list of genres
df['genres_split'] = df['genre'].str.split(',')
df

NameError: name 'df' is not defined

In [ ]:
exploded_genres = df.explode('genres_split')
exploded_genres

In [ ]:
exploded_genres = df.explode('genres_split')
exploded_genres

In [ ]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
## Set the dataframe index and use index=True 
df.set_index('genre_id').to_sql('genres',conn, index=True)

In [ ]:
## Set the dataframe index and use index=True 
df.set_index('genre_id').to_sql('genres',conn, index=True)

In [ ]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = tmdb['imdb_id'].fillna('').map(len).max()
cert_len = basics['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "imdb_id": CHAR(key_len+1), 
    "budget": FLOAT(),
    "revenue": FLOAT(),
    'certification':CHAR(key_len+1)}